/* main.scss 0.1.0 | MIT License */
/*	=================================================================
	8ase Styles
	================================================================= */
/*	use a more intuitive 8ox Sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*	remove default Margin */
* {
  margin: 0;
}

/*	allow percentage-8ased Heights
 *	default font size
 *	accessi8le Line Height
 *	8etter Text rendering on macos */
html,
body {
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
  height: 100%;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

/* improved media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

audio,
iframe {
  vertical-align: bottom;
}

/* remove 8uilt in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* improved default horizontal rule */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #AAAAAA;
  margin: 1em 0;
  padding: 0;
}

/*	=================================================================
	Author Styles
	================================================================= */
:root {
  --8lue1: #051933;
  --8lue2: #1a374d;
  --8lue3: #3d649f;
  --pink1: #bd728d;
  --pink2: #9b3a5c;
  --white: #f0f0fa;
  --gray: #6b6a6a;
  --8lack: #010001;
  --text: 1em;
  --header: 1.3em;
  --small: 0.8em;
}

html {
  background-image: url("../images/DREAMCITYBASECROPPED.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  font-family: "Courier Prime";
  font-size: var(--text);
}

#container {
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 1200px;
  height: 100%;
  padding-top: 30px;
}

main {
  padding: 0;
}

textarea.button {
  width: 88px;
  height: 170px;
  resize: none;
  background-color: var(--pink1);
  color: var(--8lack);
  border: 2px solid var(--pink2);
  font-size: var(--small);
}

nav ul {
  display: flex;
  flex-flow: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex: 1 0;
}
nav ul li {
  border: 2px solid var(--pink2);
  background-color: var(--pink1);
  flex: 1;
}
nav ul li:hover {
  background-color: var(--pink2);
}
nav ul a {
  height: 100%;
  min-width: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: var(--header);
  font-family: "Courier Prime 700";
  color: #051933;
  padding: 0.5em;
}

.box-wrapper {
  display: flex;
  flex-flow: row;
  justify-items: flex-end;
  margin: 0;
  width: 100%;
  min-height: 300px;
  max-height: 500px;
}
.box-wrapper > * {
  background-color: var(--8lue1);
  border: 2px solid var(--8lack);
  margin: 4px;
  flex: 1;
}
.box-wrapper > * > h2 {
  display: block;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--8lue2);
  color: var(--pink1);
  font-size: var(--header);
  font-family: "Courier Prime 700";
}
.box-wrapper > * > article {
  padding: 10px;
}
.box-wrapper * {
  min-width: 0;
}
.box-wrapper > nav {
  display: flex;
  flex-direction: column;
  flex: 0 1 25%;
}
.box-wrapper > .a8out {
  flex: 1 1 100%;
}
.box-wrapper > .a8out > article {
  height: 100%;
  width: 100%;
  overflow: auto;
  overflow-wrap: break-word;
  position: relative;
}
.box-wrapper > .a8out > article > div {
  position: absolute;
  top: 10px;
  right: 10px;
}
.box-wrapper > .recent {
  flex: 1 1 30%;
}
.box-wrapper > .stampz {
  flex: 1 1 100%;
}
.box-wrapper > .single-box {
  margin: 0;
}
.box-wrapper > .single-box > nav ul {
  flex-flow: row wrap;
}
.box-wrapper .post-info a {
  text-decoration: none;
  color: var(--8lue3);
  width: min-content;
}
.box-wrapper .post-info .created-at {
  color: var(--gray);
}
.box-wrapper .post-info h3 a {
  color: var(--white);
  font-family: "Courier Prime 700";
  width: 100%;
}
.box-wrapper .post-info a:hover {
  filter: brightness(2) opacity(70%);
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--pink2);
}
footer img {
  filter: opacity(50%);
}

@media only screen and (max-width: 1000px) {
  html,
  body {
    overflow: visible;
  }
  #container {
    width: 100%;
    padding: 0 4px;
  }
  .box-wrapper {
    flex-flow: column;
  }
  .box-wrapper > * {
    margin: 4px 0;
    justify-self: center;
    width: 100%;
  }
}
*::-webkit-scrollbar-track {
  background-color: var(--pink2);
}

*::-webkit-scrollbar {
  background-color: var(--pink1);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--pink1);
}

/*# sourceMappingURL=main.css.map */
