  /* main.scss 0.1.0 | MIT License */

  /*	=================================================================
	8ase Styles
	================================================================= */

  /*	use a more intuitive 8ox Sizing model */
  *,
  *::before,
  *::after {
  	box-sizing: border-box;
  }

  /*	remove default Margin */
  * {
  	margin: 0;
  }

  /*	allow percentage-8ased Heights
 *	default font size
 *	accessi8le Line Height
 *	8etter Text rendering on macos */
  html,
  body {
  	margin: 0px;
  	padding: 0px;
  	overflow-y: hidden;
  	height: 100%;
  	line-height: 1.5;
  	-webkit-font-smoothing: antialiased;
  	image-rendering: crisp-edges;
  }

  /* improved media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
  	display: block;
  	max-width: 100%;
  }

  audio,
  iframe {
  	vertical-align: bottom;
  }

  /* remove 8uilt in form typography styles */
  input,
  button,
  textarea,
  select {
  	font: inherit;
  }

  /* avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  	overflow-wrap: break-word;
  }

  /* improved default horizontal rule */
  hr {
  	display: block;
  	height: 1px;
  	border: 0;
  	border-top: 1px solid #AAAAAA; // To Style
  	margin: 1em 0;
  	padding: 0;
  }


  // =================================================================
  // Author Styles
  // =================================================================

  :root {
  	--8lue1: #051933;
  	--8lue2: #1a374d;
  	--8lue3: #3d649f;
  	--pink1: #bd728d;
  	--pink2: #9b3a5c;
  	--white: #f0f0fa;
  	--gray: #6b6a6a;
  	--8lack: #010001;
  	--text: 16px;
  	--header: 22px;
  	--small: 10px;
  }

  html {
  	background-image: url('/static/images/DREAMCITYBASECROPPED.png');
  	background-position: bottom center;
  	background-size: cover;
  	color: var(--white);
  	font-family: 'Courier Prime';
  	font-size: var(--text);
  }

  #container {
  	position: relative;
  	top: 0;
  	left: 50%;
  	transform: translate(-50%, 0);
  	max-width: 1200px;
  	height: 100%;
  }

  main {
  	padding: 0;
  	margin: 30px 0 10px 0;
  	display: grid;
  	grid-template-columns: auto auto auto auto auto;
  	grid-template-rows: 300px 300px;
  	grid-gap: 10px 10px;
  	overflow-y: scroll;
  	overflow-x: visible;
  	>* {
  		display: flex;
  		flex-direction: column;
  		background-color: var(--8lue1);
  		border: 2px solid var(--8lack);
  	}
  }
  h2 {
  	display: block;
  	text-align: center;
  	padding: 5px;
  	background-color: var(--8lue2);
  	color: var(--pink1);
  	font-size: var(--header);
  	font-family: 'Courier Prime 700';
  }
  .a8out {
  	grid-column: 1 / 5;
  	grid-row: 1;
  }
  nav {
  	grid-column: 5;
  	grid-row: 1;
  }
  .recent {
  	grid-column: 1;
  	grid-row: 2;
  }
  .stampz {
  	grid-column: 2/6;
  	grid-row: 2;
  	>.content>* {
  		display: flex;
  		flex-wrap: wrap;
  	}
  }
  .post-info {
  	a {
  		text-decoration: none;
  		color: var(--8lue3);
  		width: min-content;
  	}
  	.created-at {
  		color: var(--gray);
  	}
  	h3 a {
  		color: var(--white);
  		font-family: 'Courier Prime 700';
  		width: 100%;
  	}
  	a:hover {
  		filter: brightness(2) opacity(70%);
  	}
  }
  .content {
  	padding: 10px;
  }
  .single-box {
  	grid-column: span 5;
  	grid-row: span 2;
  }
  textarea.button {
  	width: 88px;
  	height: 31px;
  	resize: none;
  	background-color: var(--pink1);
  	color: var(--8lack);
  	border: 2px solid var(--pink2);
  	font-size: var(--small);
  }
  a.button:hover {
  	z-index: 1;
  }
  a.button:hover>img {
  	z-index: 2;
  	transform: scale(2);
  	transition: transform 0.1s ease-in-out;
  }
  a.button>img {
  	pointer-events: none;
  	transform: scale(1);
  	transition: transform 0.1s ease-in-out;
  }
  .pfp {
  	position: absolute;
  	top: 0;
  	right: 0;
  	max-width: 100px;
  	img {
  		width: 100%;
  	}
  }

  //nav ================================================================
  nav ul {
  	flex: 1;
  	display: grid;
  	grid-auto-flow: column;
  	grid-template-columns: auto auto auto auto;
  	grid-template-rows: auto auto auto auto;
  	list-style-type: none;
  	padding: 0;
  	margin: 0;

  	li {
  		grid-row-start: auto;
  		grid-column-start: auto;
  		border: 2px solid var(--pink2);
  		background-color: var(--pink1);
  		min-width: 10rem;
  	}

  	li:hover {
  		background-color: var(--pink2);
  	}

  	a {
  		height: 100%;
  		display: flex;
  		justify-content: center;
  		align-items: center;

  		text-decoration: none;
  		font-size: var(--header);
  		font-family: 'Courier Prime 700';
  		color: #051933;

  	}
  }
  .single-box nav ul {
  	grid-auto-flow: row;
  	a {
  		padding: 0.5em;
  	}
  }


  // box-wrapper =============================================================

  footer {
  	display: flex;
  	flex-flow: row;
  	background-color: var(--pink2);
  	align-items: center;

  	address,
  	span {
  		display: inline;
  		margin: 0 2rem 0 0;
  	}
  	img {
  		filter: opacity(50%);
  		min-width: 88px;
  	}
  }

  // media ==============================================================================================
  @media only screen and (max-width: 1000px) {

  	html,
  	body {
  		overflow: visible;
  	}

  	#container {
  		width: 100%;
  		padding: 0 4px;
  	}

  	nav ul {
  		flex-flow: row wrap;
  	}
  	.wrapper {
  		flex-flow: column;
  		max-height: fit-content;

  		>* {
  			margin: 4px 0;
  			justify-self: center;
  			width: 100%;
  		}
  	}

  }

  @media only screen and (hover: none) and (pointer: coarse) {
  	:root {
  		--text: 2em;
  		--header: 1.5em;
  		--small: 0.8em;
  	}
  }
  *::-webkit-scrollbar-track {
  	background-color: var(--pink2);
  }

  *::-webkit-scrollbar {
  	background-color: var(--pink1);
  }

  *::-webkit-scrollbar-thumb {
  	background-color: var(--pink1);
  }