@import url("https://fonts.googleapis.com/css2?family=Rozha+One&display=swap");
/* main.scss 0.1.0 | MIT License */
/*	=================================================================
	8ase Styles
	================================================================= */
/*	use a more intuitive 8ox Sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*	remove default Margin */
* {
  margin: 0;
}

/*	allow percentage-8ased Heights
 *	default font size
 *	accessi8le Line Height
 *	8etter Text rendering on macos */
html,
body {
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
  height: 100%;
  font-size: 1em;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

/* improved media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

audio,
iframe {
  vertical-align: bottom;
}

/* remove 8uilt in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* improved default horizontal rule */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #AAAAAA;
  margin: 1em 0;
  padding: 0;
}

/*	=================================================================
	Author Styles
	================================================================= */
:root {
  --8lue1: #051933;
  --8lue2: #1a374d;
  --8lue3: #5190A0;
  --pink1: #bd728d;
  --pink2: #9b3a5c;
  --white: #f0f0fa;
  --gray: #1E1E1E;
  --8lack: #010001;
}

html {
  background-image: url("/static/images/DREAMCITYBASECROPPED.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  font-family: Verdana;
}

#container {
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 1200px;
  height: 100%;
  padding-top: 30px;
}

main {
  padding: 0;
}

.content {
  padding: 10px;
}

#box-wrapper {
  display: grid;
  grid-auto-flow: column;
  margin: 0;
}
#box-wrapper > * {
  background-color: var(--8lue1);
  border: 2px solid var(--8lack);
  margin: 4px;
}
#box-wrapper > * > h2 {
  display: block;
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--8lue2);
  color: var(--pink1);
  font-size: 1.2em;
}
#box-wrapper > * > article {
  padding: 10px;
}

nav ul {
  display: grid;
  grid-auto-flow: column dense;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  border-radius: 0 0 0.5em 0;
  border: 2px solid var(--pink2);
  background-color: var(--pink1);
}
nav ul a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #051933;
  padding: 0.5em;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--pink2);
}
footer img {
  filter: opacity(50%);
}

@media only screen and (max-width: 1000px) {
  html,
  body {
    overflow: visible;
  }
  #container {
    width: 100%;
  }
  #box-wrapper {
    margin: 0;
    grid-auto-flow: dense;
  }
  #box-wrapper > * {
    justify-self: center;
    width: 95%;
  }
}
*::-webkit-scrollbar-track {
  background-color: var(--pink2);
}

*::-webkit-scrollbar {
  background-color: var(--pink1);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--pink1);
}

/*# sourceMappingURL=main.css.map */
